.public-DraftEditor-content {
    min-height: calc(100vh - 160px);
    overflow: visible;
    padding: 10px;
}

.DraftEditor-root {
    min-height: calc(100vh - 160px);
}

.DraftEditor-editorContainer {
    min-height: calc(100vh - 160px);
}

html, html * {
    /* min-height: 100%; */
    /* outline: 1px solid; */
}

body {
    background: #f6f7f9;
}

* {
    box-sizing: border-box;
}

#content {
    width: 850px;
    margin: 0 auto;
}
/* .editor {
    border: 1px solid grey;
    padding: 6px;
} */