.public-DraftEditor-content {
    max-height: 2000px;
    overflow: auto;
    padding: 10px;
}

body {
    background: #f6f7f9;
}

* {
    box-sizing: border-box;
}

#content {
    width: 480px;
    margin: 1px;
}
/* .editor {
    border: 1px solid grey;
    padding: 6px;
} */